<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/" lang="en">
<head>
    <meta charset="UTF-8">
    <title>商品管理 - DINEEASE餐廳管理系統</title>
    <link rel="icon" th:href="@{/images/favicon.ico}" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
            href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap"
            rel="stylesheet" />

    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />

    <link rel="stylesheet"
          href="https://cdn.datatables.net/2.1.8/css/dataTables.dataTables.css" />

    <link rel="stylesheet" th:href="@{/css/demo.css}" />

</head>

<body>
    <script th:src="@{/jquery/jquery-3.7.1.js}"></script>
    <script src="https://cdn.datatables.net/2.1.8/js/dataTables.js"></script>
    <div id="page">
        <div id="right">
            <header>
                <button id="logout">
                    <i class="fa-solid fa-arrow-right-from-bracket"></i> Log Out
                </button>
            </header>

            <main>
                <h2>訂單管理</h2>
                    <section id="workspace">
                        <div>
                            <button type="submit" class="dataButton" id="addData">
                                新增訂單</button>
                        </div>
                    </section>

                    <section>
                        <table id="table" class="display ">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>名稱</th>
                                <th>照片</th>
                                <th>價格</th>
                                <th>分類</th>
                                <th>描述</th>
                                <th>庫存數量</th>
                                <th>操作</th>
                                <th>描述</th>
                                <th>庫存數量</th>
                                <th>操作</th>
                            </tr>
                            </thead>

                            <tbody>
                                <th:block th:each="orders:${ordersList}">
                                    <tr th:if="${#lists.isEmpty(allOrders)}">
                                        <td colspan="8">沒有資料</td>
                                    </tr>
                                    <tr class="fade-out">
                                        <td th:text="${orders.ID}"></td>
                                        <td th:text="${orders.member.ID != null ? orders.member.ID : '未設定'}"></td>

                                        <td th:text="${orders.ordersName}"></td>
                                        <td th:text="${orders.ordersTel}"></td>
                                        <td th:text="${orders.ordersSumPrice}"></td>
                                        <td th:text="${orders.pointGetted}"></td>
                                        <td th:text="${orders.ordersStatus}"></td>
                                        <td th:text="${orders.createdAt}"></td>
                                        <td th:text="${orders.paymentWay}"></td>
                                        <td th:text="${orders.paymentStatus}"></td>
                                        <td th:text="${orders.paymentTime}"></td>

                                    </tr>

                                </th:block>


                            </tbody>

                        </table>

                    </section>

            </main>
        </div>
    </div>


</body>
</html>